@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    
}

.newss{
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/image\ 27.png')  no-repeat center/cover
}
.schadule-report{
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/image\ 24.png')  no-repeat center/cover
}
.medal{
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/Mask\ group\ \(3\).png')  no-repeat center/cover
}


.gallery{
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/image\ 26.png')  no-repeat center/cover
}
.kompotisi{
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/image\ 28.png')  no-repeat center/cover
}
.about{
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/Mask\ group.png')  no-repeat center/cover
}
.about1{
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/Mask\ group\ \(1\).png')  no-repeat center/cover
}
.about2{
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/Mask\ group\ \(2\).png')  no-repeat center/cover
}
.detail-image{
    width: 100%;
    height: 75vh;
    object-fit: cover;
}

.mtp{
    margin-top: 120px;
}

.vanue{
    margin-top: 120px;
}

.event{
    margin-top: 120px;
}

.maskot{
    margin-top: 150px;
}

.h2A{
    width: 90%;
    text-align: center; 
    border-bottom: 5px solid #D32B33; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    font-size: 2.3rem;
    color: #D32B33;
}

.h2A span{
    background:#fff; 
    padding:0 30px; 
}

.news{
    font-size: 3.5rem;
}

.img-news{
    object-fit: cover;
}

.card-subtitle{
    color: #D32B33;
}

.card-body{
    background-color: #F7F7F7;
}

nav .pagination li a:hover{
    background-color: #8BC63E !important;
    color: white !important;
}

nav .pagination li .active{
    background-color: #8BC63E !important;
    border-color: white !important;
}

.bls{
    border-left: 5px #D32B33 solid;
}

.horizontal-timeline .items {
    border-top: 5px solid #FFF101;
}
.items-list{
    display: block;
    position: relative;
    text-align: center;
}
.items-list::before{
    content: "";
    position: absolute;
    text-align: center;
    height: 36px;
    border-right: 5px solid #FFF101;
    top: 0;
}


.red{
    color: #D32B33;
}


/* .line-top{
    border: 2px solid yellow;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
} */

.timeline{
    margin-top: 120px;
}


  
  @media (min-width: 1140px) {
    .horizontal-timeline .items .items-list {
      display: inline-block;
      width: 24%;
      padding-top: 45px;
    }
  
    .horizontal-timeline .items .items-list .event-date {
      top: -40px;
    }
  }