@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
nav .navbar-nav li a:hover{
    color: #8BC63E !important;
}

nav .navbar-nav li .active{
    color: #8BC63E !important;
}

header{
    background-color: #8BC63E;
    height: 100vh;
}

.ssx{
    height: 115vh;
    background: url('../img/maskot wushu kejurdun 2022 - vector 1.png')left bottom no-repeat,
    url('../img/Web\ Guidance\ -\ Preview\ 1.png') no-repeat;
}



/* header::after{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;

} */



#sponsor{
    margin-top: 150px;
}

.time{
    font-size: 6rem;
}
.day{
    font-size: 2.8rem;
    margin-bottom: 50px;
}




footer{
    margin-top: 75px;
    background-color: #8BC63E;
}

.ops-img{
    width: 80px;
    object-fit: cover;
    margin-right: 20px;
}

.future{
    margin-top: 120px;
}

@media screen and (max-width:800px){
    header{
        height: 140vh;
    }

    .ssx{
        height: 185vh;
    }
}