<footer>
    <div class="p-5">
        <h1 class="fw-bold">KEY CONTACT</h1>
        <div class="row mt-5">
            <div class="col-md-6">
                <h3 class="fw-bold">Indonesian Wushu Association (Organizing Committee)</h3>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <img src="img/imageF1.png" alt="">
                    </div>
                    <div class="col-md-8 ">
                        <table class="table table-borderless">
                            <tr>
                                <td class="fw-bold fs-5">ALAMAT: </td>
                                <td>
                                    Wisma Argo Manunggal Lt.12A , Jl. Jend. Gatot Subroto Kav.22, Karet
                                    Semanggi, Kecamatan Setiabudi, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12930, Indonesia
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold fs-5">Contact Person: </td>
                                <td>
                                    Mrs. Tisa
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold fs-5">Tel: </td>
                                <td>
                                    +62 822 6789 08 08
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold fs-5">Email:  </td>
                                <td>
                                    8thwjwc@gmail.com
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold fs-5">Website : </td>
                                <td>
                                    8thwjwc.inawushu.id
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="fw-bold">IWUF Secretariat</h3>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <img src="img/imageF.png" alt="">
                    </div>
                    <div class="col-md-8 ">
                        <table class="table table-borderless">
                            <tr>
                                <td class="fw-bold fs-5">ALAMAT: </td>
                                <td>
                                    9 Huaweili, Chaoyang District, 100021 Beijing, China
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold fs-5">Tel" </td>
                                <td>
                                    M+86-10-87774492
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold fs-5">Fax: </td>
                                <td>
                                    +86-10-87774492
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold fs-5">Email:  </td>
                                <td>
                                    events@iwuf.org
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold fs-5">Website: </td>
                                <td>
                                    http://www.iwuf.org/
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="bg-light text-center p-3">
        <h5>Copyright @ 2022 8TH WORLD JUNIOR WUSHU CHAMPIONSHIPS</h5>
    </div>
</footer>